
html,body {
	font-family: "Times New Roman", Times, serif;
	margin:0;
    padding:0;
    height:100%;
}

#container {
   min-height:93%;
   position:relative;   
}

header{
	padding:10px 0px;	 
}

section {
   padding:10px 0px;
   padding-bottom:5%;   /* Height of the footer */

}

footer {
   position:relative;
   bottom:3px;
   width:100%;
   height:5%;   /* Height of the footer */
   color: white;
   background-color: black;
   padding-top:10px;	
}



table{
	border-collapse: collapse;
	width:98%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

th{	
	padding: 8px;
	background-color: #00a3d8;
	color:white;
}

td {
	padding: 8px;
}

button{
	width: 150px;
	background-color: #00a3d8;
	border: none;
	color: white;
	padding: 9px 32px;
	text-align: center;
	text-decoration: none;
	margin-right:3%;
}


nav {
	width:100%;
	background-color: black;
	padding-top : 20px;
	padding-bottom : 20px;
}

a {
	text-decoration: none;
}

a:visited {
    text-decoration: none;
}

nav a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 20px;		
}

.active{
	color: #00a3d8;
}

#loginapp{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

input label{
	width:100px;
	display:inline-block
}

input[type="text"], input[type="password"]
{
	width: 100%;
	border: 1px solid #CCCCCC;
	height:30px;
	padding-left:5px;
}

input[type="submit"] 
{
	width: 150px;
	background-color: #00a3d8;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
}

.centerbutton{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

fieldset{
	padding: 20px 30px;
}

#inventoryheader{
	padding-left:5%;

}
.error{
color:red;
}


#logoutapp{
	margin-left: auto;
	margin-right: auto;
	margin-top:10%;
	width: 300px;
}

.loader {

	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	height: 60px;
	animation: spin 1.5s linear infinite;
 	margin-left: auto;
	margin-right: auto;	
	margin-top:10%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
